body {background-color: black;}
#titulo {text-align: center;}
h1 {color: yellow;}
#burgers {color: yellow;}
#bebidas {color: yellow;}
#postres {color: yellow;}
#pago {color: yellow;}
#ing {color: antiquewhite;}
#art {font-family:'Courier New', Courier, monospace;}
#datos {color: antiquewhite;}